CREDENTIALS_JSON=
CREDENTIALS_JSON_FILE=
PROJECT_ID=
REGION=
LOCATION=us-west1
BUCKET_NAME=
BUCKET_CORS_METHODS=*
BUCKET_CORS_ORIGINS=*
BUCKET_CORS_MAX_AGE=3600
REPOSITORY_ID=
CLOUD_RUN_NAME=
CLOUD_RUN_CONTAINER_IMAGE=
CLOUD_RUN_CONTAINER_PORT=
